#backButtonContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
    background-color: black;
    opacity: 0;
}

    #backButtonContainer:hover,
    #backButtonContainer:hover #backButton {
        background-color: white;
        opacity: 0.5;
        color: black;
    }
