#backButton {
    position: fixed;
    top: 5px;
    left: 25px;
    font-size: 20px;
    z-index: 2;
    cursor: pointer;
    color: white;
}

    #backButton:hover {
        color: black;
    }
