/*
body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: linear-gradient(to top, navy, black);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
*/
body {
    margin: 0;
    padding: 0;
    background-color: #6e7b8b; /* Solid dull blue background color */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
