#profilePicture {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

    #profilePicture img {
        border-radius: 50%;
        width: 5vh;
        height: 5vh;
        border: 3px solid white;
        object-fit: cover;
    }
