.roundedRect {
    background-color: #333;
    border-radius: 15px;
    overflow: hidden;
    width: 65%;
    max-width: 65vh;
    padding: 5px;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    height: auto; /* Set height to auto */
    min-height: max-content; /* Adjust min-height based on content */
}

    .roundedRect::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        background-color: #FFA500;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

#title {
    margin-top: 60px;
    margin-bottom: 5px;
    font-size: 24px;
}
