#backButton {
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 20px;
    z-index: 1;
    cursor: pointer;
    color: white;
}

    #backButton:hover {
        color: black;
    }
