/* General Styles */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: linear-gradient(to top, navy, black);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh; /* Ensure full viewport height */
    display: flex;
    flex-direction: column;
    color: white;
    font-family: verdana;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

/* Back Button Styles */
#backButtonContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px; /* Button width */
    height: 30px; /* Button height */
    cursor: pointer;
    z-index: 1; /* Ensure above other content */
    background-color: black; /* Initial background color */
    opacity: 0; /* Initially invisible */
}

#backButtonContainer:hover {
    background-color: white; /* Change background color on hover */
    opacity: 0.5; /* Add transparency on hover */
}

#backButton {
    position: absolute;
    top: 10px; /* Adjust vertical position */
    left: 20px; /* Adjust horizontal position */
    font-size: 20px; /* Button font size */
    z-index: 1; /* Ensure above other content */
}

/* Content Container Styles */
#contentContainer {
    text-align: center;
    padding: 20px; /* Content padding */
    max-width: 800px; /* Max width for content */
    margin: auto; /* Center content horizontally */
    flex: 1; /* Fill remaining vertical space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Rounded Rectangle Styles */
.roundedRect {
    background-color: #333; /* Darker grey */
    border-radius: 15px; /* Rounded corners */
    overflow: hidden;
    width: 50%; /* Adjusted width */
    max-width: 800px; /* Added maximum width */
    padding: 15px; /* Adjusted padding */
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5); /* Add an outline */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Relative positioning for child elements */
}

/* Banner Styles */
#banner1 {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, #FFA500, #FFA500); /* Orange gradient */
    height: 30px; /* Adjusted height */
    width: 100%; /* Conform to the width of the parent container */
    position: absolute; /* Position relative to the parent */
    top: 0; /* Align to the top of the container */
    left: 0; /* Align to the left of the container */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

/* Title Styles */
#title {
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove padding */
    font-size: 24px; /* Increase font size */
    margin-top: 20px; /* Add margin-top */
}

/* Text Styles */
#rectangleText {
    line-height: 1.5; /* Adjust line height */
    font-size: 14px; /* Decrease font size */
    padding: 20px; /* Add padding */
}

/* Section Styles */
.section {
    padding-top: 5px; /* Adjust padding */
    padding-bottom: 20px; /* Add bottom padding */
    margin-bottom: 20px; /* Add margin between sections */
}

/* Horizontal Line Styles */
.line {
    width: 100%;
    border-top: 1px solid #666;
    margin: 20px 0;
}

/* Footer Styles */
#footer {
    position: absolute;
    bottom: 5px; /* Adjust vertical position */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    z-index: 1; /* Ensure above other content */
}

/* Media Query for smaller screens */
@media screen and (orientation: portrait) {
    /* Adjust font sizes and other dimensions for vertical orientation */
    #backButton {
        font-size: 16px; /* Decrease font size for back button */
    }

    #title {
        font-size: 20px; /* Decrease font size for title */
    }

    #rectangleText {
        font-size: 12px; /* Decrease font size for text */
    }

    .roundedRect {
        width: 75%; /* Adjusted width for rounded rectangle */
        padding: 5px; /* Adjusted padding for rounded rectangle */
    }
}
