.container {
    position: relative; /* Make sure the container's position is relative to its parent */
}

.container-overlay {
    position: absolute; /* Position the overlay absolutely within the container */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.1); /* White with 10% opacity */
    border-radius: 20px; /* Increased border-radius for more rounded edges */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow outline */
    word-wrap: break-word; /* Automatically start a new line when text is too long */
}
